{% extends "base.html" %}

{% block content %}
<div class="container h-100">
    <div class="row">
        <div class="col-sm" id="title">
            <div class="m-3">Find every museum you want to visit<br>
                <a type="button" class="btn btn-primary" href="/recommendations">Explore your recommendations > </a>
            </div>
        </div>
        <div class="col-sm" id="title-img">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm m-1" id="m1">
        </div>
        <div class="col-sm m-1" id="m2">
        </div>
        <div class="col-sm m-1" id="m3">
        </div>
        <div class="col-sm m-1 last-col">
            <a class='hover' href="/about">About this project >
        </div>
    </div>
</div>
</div>
{% endblock %}